@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root{
    --c1: #030433;
    --c2: #1B25F2; 
    --c3: #151EBF; 
    --c4: #0f136e;
    --c5: #d9d9d9; 
    --c6: #919191;
}

.App{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    color: var(--c5);
    background-color: var(--c4);
}

.title{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 75px;
    margin: 50px 0;
    z-index: 1;
    text-align: center;
    letter-spacing: 1rem;
    padding-left: 1rem;
}